<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD00F6Uaq9tAJNPBxU32VtIOD1V8hnNEm8</string>
	<key>GCM_SENDER_ID</key>
	<string>519297961450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-d1409</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-d1409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519297961450:ios:7d9b7e3b6bcf9cc0b67693</string>
</dict>
</plist>